<div style="text-align: center;background-color: #FBFBFB">
  <div style="text-align: center;padding: 30px;">
    <h3 style="text-align: center; color: #565656;font-weight: 700;font-size: 40px;">Grabados Barón</h3>
  </div>


  <h3 style="text-align: center; color: #565656;font-weight: 700;font-size: 25px;">Hola Joviet!</h3>

  <p style="font-size: 17px;padding-bottom: 20px;">Hay un nuevo mensaje desde el sitio!</p>

  <div style="text-align:center">
    <h2 style="color: #565656;">Mensaje :</h2>
  	<p style="margin: 0 auto;letter-spacing: 1px;width: 45%;color: #565656;font-size: 18px;line-height: 24px;"><%= @contact_params[:message] %></p>

		<h2 style="color: #565656;">Datos de usuario para contacto :</h2>
		<p style="margin: 0 auto;letter-spacing: 1px;width: 45%;color: #565656;font-size: 18px;line-height: 24px;">Nombre: <%= @contact_params[:name] %></p>
		<p style="margin: 0 auto;letter-spacing: 1px;width: 45%;color: #565656;font-size: 18px;line-height: 24px;">Email: <%= @contact_params[:email] %></p>
  </div>

  <hr>

</div>